@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    background-color: rgb(34, 34, 34);
    color: white;
    overflow-x: hidden;
}


.CovrImage {
    float: left;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.textnextToImg {
    padding-top: 0em;
    line-height: 400%;
    margin: 2.5em;
}

h2 {
    display: inline;
    font-family: 'Heebo', sans-serif;
}

h3 {
    display: inline;
    font-family: 'Heebo', sans-serif;
}

.Header {
    height: 10px;
    width: 100vw;
}