@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100&display=swap');

.Searchterms {
    width: 100vw;
    font-size: 8em;
    text-align: center;
    height: 2em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(178, 240, 35);
    display: block;
    margin-bottom: 0.2em;
}

::placeholder {
    color: rgb(161, 161, 161);
}

.BooksToDisplay {
    display: flex;
    page-break-inside: avoid;
}

.bookstodisplayDiv {
    display: flex;
    width: 90vw;
    margin-left: 8em;
    page-break-inside: avoid;
}

.columnCount {
    column-count: 2;
    column-rule: 1px solid #c5c5c5;
    page-break-inside: avoid;
}

.InputOfTodos {
    column-fill: balance;
    height: auto;
}

.boxToControllCenterLine {
    width: 100vw;
    height: 40vh;

}