@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100&display=swap');

.Searchterms {
    width: 100vw;
    font-size: 8em;
    text-align: center;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(128, 128, 128);
    display: block;
    margin-bottom: 0.2em;
}

::placeholder {
    color: rgb(161, 161, 161);
}

.BooksToDisplay {
    display: flex;
    page-break-inside: avoid;
}

.bookstodisplayDiv {
    display: flex;
    width: 90vw;
    margin-left: 8em;
    page-break-inside: avoid;
}

.columnCount {
    column-count: 2;
    column-rule: 1px solid #c5c5c5;
    page-break-inside: avoid;
}

.InputOfTodos {
    column-fill: balance;
    height: auto;
}

.boxToControllCenterLine {
    width: 100vw;
    height: 40vh;

}

input[type='checkbox'] {
    display: none;
}

label {
    color: rgb(145, 145, 145);
    line-height: 2.6em;
    font-family: 'Josefin Sans', sans-serif;
}

.buttonNning {

    display: flex;
    align-items: center;
    justify-content: center;
}


.container2 {
    margin-top: 1.4em;

    margin-bottom: 1em;
    line-height: 50px;
    display: flex;
    padding: 10px;
    float: left;
    cursor: pointer;
    font-size: 40px;
    user-select: none;
    border: 1px solid white;
    text-align: center;
    z-index: 2;
    background-color: rgb(26, 26, 26);
}

.container2:hover {
    background-color: rgba(7, 146, 156, 0.2);
}

.prettyButton {
    position: relative;

    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid black;
    height: 3.5em;
    width: 8.5em;
    font-size: 1em;
    transform: scale(1);
    transition-duration: 0.5s;
}
.prettyButton:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.prettyButton:active {
    transform: scale(0.9);
transition-duration: 0.5s;
}
