@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body::-webkit-scrollbar { 
    display: none;
    overflow:hidden;
}

.BGIMAGE {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    margin-top: 4em;
    justify-content: center;
    
}

.images {
    height: 400px;
    width: auto;
    filter: grayscale(80%)blur(2px);

}

.titleOfMyApp {
    font-family: 'Lato', sans-serif;

    position: absolute;
    z-index: 5;
    word-spacing: 70px;
    font-size: 13em;
    text-align: center;
    color: white;
    background-color: rgba(36, 36, 36, 0.699);
}
